    <script src="/js/jquery.js"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/content.js" defer></script>
    <script src="/js/account.js" defer></script>
    
    {{#if default}}
        <script src="/js/default.js" defer></script>
    {{/if}}

    {{#if random}}
        <script src="/js/random.js" defer></script>
    {{/if}}

    {{#if tag}}
        <script>
            var tag = "{{tag}}";
        </script>
        
        <script src="/js/tag.js" defer></script>
    {{/if}}

    {{#if profile}}
        <script>
            var user = "{{profile._id}}";
        </script>

        <script src="/js/userpage.js" defer></script>
    {{/if}}

    {{#if search}}
        <script>
            var q = "{{search}}";
        </script>

        <script src="/js/search.js" defer></script>
    {{/if}}

    {{#if view_post}}
        <script>
            var pid = "{{post._id}}";
        </script>

        <script src="/js/view_post.js" defer></script>
    {{/if}}
    {{#if account}}
        <script src="/js/post.js" defer></script>
    {{/if}}
</body>

</html>