    <script src="/js/jquery.js"></script>
    <script src="/semantic/semantic.min.js"></script>
    <script src="/js/main.js" defer></script>
    <script src="/js/content.js" defer></script>
    <script src="/js/default.js" defer></script>
</body>

</html>