{{#getContext '{"title" : "Page Not Found", "css" : ["style", "navigation", "index"]}'}}
    {{> header}}
{{/getContext}}
        <div style="height: 100vh; display: flex;">
            <div style="margin: 0 auto; width: 500px; text-align:center; margin-top: 60px;">
                <span style="color: #333; font-size: 5em; font-weight: bold;">Error 404!</span> <br/>
                <span style="color: #666; font-size: 2em; font-weight: lighter;">Uh oh! Looks like you got lost.</span>
            </div>
        </div>
    {{> footer}}