{{> header }}
<div id="content" class="ui special">
  <div id="cards">
  </div>
  <div class="ui hidden centered text" id="empty" style="text-align: center;">
    <span class="ui huge header">Can't find any posts! Sad lah :(</span class="header">
  </div>
  <br/>
  <div class="ui centered inline active text indeterminate loader" id="post-loader">
    Getting yo memes...
  </div>
</div>
{{> footer }}