body {
  background-color: #e2e2e2;
}

#content {
  margin: 80px 35px 100px 35px;
}

*:focus {
  outline: 0;
}

.dropdown-toggle:after{
  display: none;
}

.dropdown-toggle {
  background-color: rgb(243, 242, 242);
  border: 1px solid #dbdbdb;
  color: #555;
}

.dropdown-toggle:hover {
  color: #555;
  border: 1px solid #dbdbdb;
  background-color: #dbdbdb;
}

.dropdown-toggle:active,
.dropdown-toggle:focus {
  color: #555 !important;
  border: 1px solid #dbdbdb !important;
  background-color: #c9c9c9 !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item .fa,
.dropdown-item .fas,
.dropdown-item .far {
  margin: 0px 10px 0 5px;
}

.dropdown-menu .dropdown-item {
  padding: 10px 15px;
}

.dropdown-menu .dropdown-item.danger {
  background-color: #c73131;
  border-radius: 0 0 .25rem .25rem;
  color: #fff;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #ececec;
}

.dropdown-menu .dropdown-item:active,
.dropdown-menu .dropdown-item:focus {
  background-color: #d6d6d6;
}

.dropdown-menu .dropdown-item.danger:hover {
  background-color: #d63636;
}

.dropdown-menu .dropdown-item.danger:active,
.dropdown-menu .dropdown-item.danger:focus {
  background-color: #b92c2c;
}

.card-header {
  background-color: rgb(243, 242, 242);
}

@media (min-width: 1025px) {
  #memeTagList {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }

  #memeTagList .badge {
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
  }

  #memeTagList .badge:hover i {
    color: #e2e2e2;
  }

  #req-tags.bad {
    color: #c73131;
    font-weight: bold;
  }

  label[for="meme"] {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  #posts {
    display: block;
    column-count: 3;
    column-gap: 2em;
    width: 85vw;
    margin: 0 auto;
  }

  /* #posts {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
    column-gap: 2em;
    width: 85vw;
  }*/

  #posts .card {
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    display: inline-block;
    margin: 0 1em 2em 0;
  }

  #posts .card .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #posts .card .card-img-top {
    border-radius: 0;
  }

  #posts .card .card-header .user-info img {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
  }

  #posts .card .card-header .arrow {
    color: rgb(41, 108, 163);
    cursor: pointer;
    font-size: 14pt;
  }

  #posts .card .card-header .arrow:hover {
    color: rgb(24, 76, 119);
  }

  #posts .card .card-title h4{
    font-size: 10pt !important;
  }

  #posts .card > img {
    border-bottom: 1px solid #e2e2e2;
  }

  #posts .card .card-body {
    padding: 1rem;
  }

  #posts .card .card-tags {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-flow: row wrap;
  }

  #posts .card .card-tags > * {
    margin-right: 5px;
    margin-bottom: 6px;
    padding: 5px;
  }

  #posts .card .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #posts .card .card-body h4{
    width: 60%;
  }

  #posts .card .card-body button {
    padding: 5px;
    min-width: 50px;
    margin-left: 5px;
    border: 1px solid #e2e2e2;
    font-size: 14pt;
    color: #888888;
    background-color: #e0e0e0;
    cursor: pointer;
  }

  #posts .card .card-body button:active {
    background-color: #d6d6d6;
  }

  #posts .card .card-body button:hover,
  #posts .card .card-body button.active {
    color: rgb(53, 142, 201);
    border: 1px solid rgb(53, 142, 201);
  }

  #posts .card .card-body button span{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #posts .card .card-body button span:last-child {
    font-size: 9pt;
  }
}