* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(.icon) {
  font-family: 'Open Sans', sans-serif !important;
}

body {
  padding-bottom: 50px;
}

.ui.dropdown .red {
  color: #ffffff !important;
  background-color: #a32020;
  border-radius: 0 0 4px 4px;
}

.ui.dropdown {
  border: 0;
}

.ui.dropdown .red:hover {
  background-color: #801515 !important;
}

.extra.content .ui.right {
  margin-left: auto;
}

.hidden {
  display: none;
}

#content::after {
  content: '';
  display: block;
  clear: both;
}

.card > .content .header,
#content > .header{
  color: #636363 !important;
  font-weight: normal !important;
}

#navbar {
  z-index: 10005;
}

.dimmer.modals {
  z-index: 10010;
}

.tabular .item {
  cursor: pointer;
}

form .filename {
  color: #4a4a4a;
}

.card .content .header {
  word-break: break-all;
  position: relative;
  font-size: 16px !important;
}

.card .content .like {
  cursor: pointer;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
}

.card .content .like i {
  margin: 0;
  margin-left: 5px;
}

.card .content .like,
.card .content .liked:hover {
  color: #4a4a4a;
}

.card .content .like:hover,
.card .content .liked {
  color: #aa1a1a !important;
}

.card .content .meta {
  position: relative;
  font-size: 12px;
}

.card .content .meta a{
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
  color: rgba(0, 0, 0, .4) ;
}

.card .content .header a {
  color: #4a4a4a;
}

.card .content .header a:hover {
  color: #009c95 !important;
}

.card-holder {
  position: relative;
}

.card .content .meta a:hover {
  color: #009c95 !important;
}

.card .extra.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card .extra.content .ui.dropdown {
  position: absolute;
  right: 10.5px;
}
.card .extra.content .tag {
  margin-bottom: 10px;
  margin-right: 10px;
}

#post > .header .like:hover,
#post > .header .liked {
  cursor: pointer;
  color: #aa1a1a !important;
}