.content {
    display: flex;
    flex-direction: row;
    margin: 85px 25px 85px 25px;
}

.content > div {
    margin: 0 35px;
}

.content .right-panel {
    flex: 0 0 auto;
    width: 35vw;
}

.content .thermo {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.content .thermo .post {
    margin-bottom: 50px;
    border: 1px solid rgb(182, 182, 182);
}

#uploadMeme {
    height: 150px;
    border: 5px dashed #CCCCCC;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 24px;
    font-weight: lighter;
    border-radius: 3px;
}

#uploadMeme .sprite {
    display: block;
    background: url('../img/spritesheet.png') 453px 52px;
    height: 48px;
    width: 48px;
    margin-right: 25px;
}

#uploadMeme:hover, #uploadMeme.active {
    border: 5px dashed #3093d4;
    color: #3093d4;
}

#uploadMeme:hover .sprite, #uploadMeme.active .sprite {
    background-position: 405px 52px;
}

.top-tags {
    padding: 15px;
    min-height: 170px;
    margin-top: 25px;
    background-color: #EBEBEB;
    border-radius: 5px;
}

.top-tags .title {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
}

.post .post-header {
    padding: 15px;
    color: #1d1d1d;
    font-weight: bold;
    background-color: #EBEBEB;
    font-size: 20px;
}

.post .post-body {
    display: flex;
    flex-direction: row;
}

.post .post-body .post-user {
    width: 300px;
}

.post .post-body .post-content {
    width: 100%;
    padding: 15px;
}

.post .post-body .post-content img {
    max-width: 100%;
}

.post .post-body .post-user {
    padding: 10px;
    position: relative;
    z-index: 1;
}

.post .post-body .post-user .user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #EBEBEB;
    border: 1px solid rgb(182, 182, 182);
}

.post .post-body .post-user .user-details img {
    height: 36px;
    width: 36px;
    border-radius: 36px;
    border: 1px solid rgb(182, 182, 182);
    margin-right: 15px;
}

.post .post-body .post-stats {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.post button.like, .post button.dislike {
    display: inline-block;
    height: 90px;
    width: 90px;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    background-color: #EBEBEB;
    transition: background-color 0.2s ease;
}

.post button:hover {
    border: 1px solid #3093d4;
}

.post button .sprite {
    display: block;
    margin: 0 auto;
    background: url('../img/spritesheet.png');
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
}

.post button.like .sprite {
    background-position: 225px -20px;
}

.post button.dislike .sprite {
    background-position: 180px -20px;
}

.post button:hover {
    color: #3093d4;
}

.post button.like:hover .sprite {
    background-position: 100px -20px;
}

.post button.dislike:hover .sprite {
    background-position: 55px -20px;
}

.post .post-footer {
    padding: 15px;
    margin-top: 10px;
    background-color: #EBEBEB;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1d1d1d;
}

.tags {
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.top-tags .tags {
    margin: 15px 0 0 0;
}

.tag {
    background-color: rgb(180, 180, 180);
    min-width: 65px;
    padding: 2px 10px;
    margin: 3px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
}

.tag span {
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 5px;
}

#memeDescription {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #e2e2e2;
}

#memeDescription .input-group {
    margin-bottom: 25px;
}

#memeDescription .input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

#memeDescription .input-group input[type='text'], #memeDescription .input-group textarea{
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
}

#memeDescription .input-group input[type='text']:focus, #memeDescription .input-group textarea:focus {
    border: 1px solid #3093d4;
}

#memeDescription input[type='submit'] {
    min-width: 150px;
}

#memeDescription .input-group textarea {
    height: 100px;
    resize: none;
}