* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

a {
    text-decoration: none;
}

.primary {
    color: #2b84be;
}

small {
    color: #666666;
    font-style: italic;
}