{{> header}}
  <div style="margin: 100px">
    <div style="font-size: 1.999em;" class="ui huge center header horizontal divider">Error 404</div>
    <div style="text-align: center;" class="ui">Oops! Looks like you got lost. <a href="/">Click here</a> to go home.</div>
  </div>
{{> footer}}